<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.luojs.uiwidgetsapp">

    <!--<uses-sdk android:minSdkVersion="11" />-->

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".btn.TextViewActivity"></activity>
        <activity android:name=".btn.EditTextActivity"></activity>
        <activity android:name=".btn.ProgressBarActivity"></activity>
        <activity android:name=".btn.RatingBarActivity"></activity>
        <activity android:name=".btn.RadioButtonActivity"></activity>
        <activity android:name=".btn.RadioButtonShowActivity"></activity>
        <activity android:name=".btn.CheckBoxActivity"></activity>
        <activity android:name=".btn.CheckBoxShowActivity"></activity>
        <activity android:name=".btn.ButtonActivity"></activity>

        <activity android:name=".layout.CalculatorActivity"></activity>
        <activity android:name=".layout.FrameLayoutActivity"></activity>
        <activity android:name=".layout.TableLayoutActivity"></activity>
        <activity android:name=".layout.RelativeLayoutActivity"></activity>
        <activity android:name=".layout.MyselfTitleActivity"></activity>

        <activity android:name=".listview.MessageActivity"></activity>
        <activity android:name=".listview.TourismActivity"></activity>
        <activity android:name=".listview.TourismContentActivity"></activity>
        <activity android:name=".listview.ListViewDataADESActivity"></activity>
        <activity android:name=".listview.ReusableAdapterActivity"></activity>

        <activity android:name=".switcher.ImageViewActivity"></activity>
        <activity android:name=".switcher.SpinnerActivity"></activity>
        <activity android:name=".switcher.ViewFlipperActivity"></activity>
        <activity android:name=".switcher.ViewPagerActivity"></activity>
        <activity android:name=".switcher.VPOneActivity"></activity>
        <activity android:name=".switcher.VPTwoActivity"></activity>
        <activity android:name=".switcher.VPThreeActivity"></activity>
        <activity android:name=".switcher.VPFourActivity"></activity>

        <activity android:name=".dialog.DialogActivity"></activity>
        <activity android:name=".dialog.NotificationActivity"></activity>
        <activity android:name=".dialog.NotificationOtherActivity"></activity>
        <activity android:name=".dialog.SimpleNtfActivity"></activity>
        <activity android:name=".dialog.SimpleNtfTestActivity"></activity>

        <activity android:name=".menu.MenuActivity"></activity>
        <activity android:name=".menu.DrawerLayoutActivity"></activity>
        <activity android:name=".menu.DrawerLayout2Activity"></activity>
        <activity android:name=".menu.DLOtherActivity"></activity>
        <activity android:name=".menu.BottomNavBarActivity"></activity>

        <!--<activity android:name=".ClockActivity"></activity>-->
        <!--<activity android:name=".GalleryActivity"></activity>-->
    </application>

</manifest>